body {
  background-color: transparent;
  font-family: "Spartan", sans-serif;
  font-size: 10px;
  padding-top: none;
  margin: none;
}
h1 {
  background-color: none;
  color: #ff8200;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: none;
  text-align: right;
}
input {
  border: solid 2px hsl(31, 100%, 50%);
  border-radius: 4px;
  margin: 0 auto;
  width: 100%;
}
h2 {
  margin: 5px 10%;
  padding: 0;
  font-size: 30px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
hr {
  color: #ff8200;
  opacity: 100%;
  border: solid 1px #ff8200;
  margin-bottom: 2px;
}
footer {
  background-color: transparent;
  max-block-size: 30px;
  font-size: 12px;
  margin: 0;
  text-decoration: none;
  text-align: center;
}

.container-frame {
  padding: 5% 10%;
  background-image: url(../img/framing.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 70%;
  background-attachment: fixed;
  background-size: 814px 492px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 0;
  padding-top: 0;
  max-width: 675px;
  min-width: 675px;
  min-height: 379px;
}

h1,
.forecast-day,
.current-city {
  font-family: "Oleo Script", cursive;
}

.col-4,
.col-8,
.col-9,
.forecast {
  text-align: center;
}

.current-temperature,
.maximum-temp,
.minimum-temp {
  font-family: "Spartan", sans-serif;
  font-size: smaller;
}

.min-temp,
.max-temp {
  font-weight: bold;
  font-size: 12px;
}

.forecast-emoji-day1,
.forecast-emoji-day2,
.forecast-emoji-day3,
.forecast-emoji-day4,
.forecast-emoji-day5 {
  font-size: 40px;
}

.forecast-min-temperature,
.forecast-max-temperature {
  font-size: 10px;
}

a {
  color: #ff8200;
}
a:hover {
  color: #ff8200;
  font-weight: bold;
}
.row {
  margin-top: 4px;
  margin-bottom: 4px;
}
.btn {
  background-color: #ff8200;
  border: solid 1px #ff8200;
  box-shadow: 5px 5px 4px #eeeeee;
  font-size: 10px;
  margin-bottom: 0;
  transition: all 200ms ease-in-out;
}
.btn:hover {
  border: solid 1px #ff8200;
  box-shadow: 5px 5px 4px #eeeeee;
  background-color: #ffff;
  color: #ff8200;
  font-weight: bold;
  margin-bottom: 0;
}
#searchemoji {
  font-size: 20px;
  text-align: right;
}
.card {
  border: none;
  max-width: 80%;
  margin-left: 20%;
  padding-left: 0;
}
.card-body {
  border: solid #ff8200 1px;
  border-radius: 4px;
  font-size: 8px;
  margin: 1px;
  padding: 0;
  text-align: center;
}
.description {
  text-transform: capitalize;
}
.currentemoji {
  font-size: 50px;
  text-align: center;
}
.current-temperature {
  font-size: 20px;
}
.col-6 {
  padding-top: 5px;
}
.col-9 {
  padding: 0px 30px;
}
.current-date {
  color: #ff8200;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}
.forecast-day {
  font-size: 16px;
}
